In [24]:
import pandas                   as pd
import numpy                    as np
import sklearn.cross_validation as cv
import sklearn.metrics          as metrics

from sklearn import linear_model

df = pd.read_csv('loansData.csv')

df.dropna(inplace=True)

# Create the interest rate and annual income series.
df['int_rate'] = df['Interest.Rate'].map(lambda val: float(val[:-1]))
df['annual_inc'] = df['Monthly.Income'] * 12

df.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,int_rate,annual_inc
81174,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2,< 1 year,8.90,78500.04
99592,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1,2 years,12.12,54999.96
80059,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1,2 years,21.98,138000.00
15825,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0,5 years,9.99,45999.96
33182,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0,9 years,11.71,38340.00

In [34]:
# Predict interest rate from annual income.

est = linear_model.LinearRegression()
X   = df['annual_inc'].reshape(-1, 1)
y   = df['int_rate']
mae = cv.cross_val_score(est, X, y, scoring='mean_absolute_error', cv=10)
mse = cv.cross_val_score(est, X, y, scoring='mean_squared_error', cv=10)
r2  = cv.cross_val_score(est, X, y, scoring='r2', cv=10)

print('average mae is {}'.format(np.mean(mae)))
print('average mse is {}'.format(np.mean(mse)))
print('average r2  is {}'.format(np.mean(r2)))

average mae is -3.3794027582
average mse is -17.4735342216
average r2  is -0.00476256161287